<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Map the .br extension to a generic type -->
            <remove fileExtension=".br" />
            <mimeMap fileExtension=".br" mimeType="application/octet-stream" />
        </staticContent>
        <rewrite>
            <outboundRules>
                <rule name="Rewrite Brotli Content-Encoding header" preCondition="IsBrotli" stopProcessing="true">
                    <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
                    <action type="Rewrite" value="br" />
                </rule>
                <preConditions>
                    <preCondition name="IsBrotli">
                        <add input="{REQUEST_FILENAME}" pattern="\.br$" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
