<IfModule mod_mime.c>
  # Basic Brotli support
  AddEncoding br .br
  AddType application/javascript .js.br
  AddType application/wasm .wasm.br
  AddType application/octet-stream .data.br
  AddType application/octet-stream .symbols.json.br
</IfModule>

<IfModule mod_headers.c>
  # Ensure the browser knows these are compressed
  <FilesMatch "\.js\.br$">
    Header set Content-Encoding br
    Header set Content-Type application/javascript
  </FilesMatch>
  <FilesMatch "\.wasm\.br$">
    Header set Content-Encoding br
    Header set Content-Type application/wasm
  </FilesMatch>
  <FilesMatch "\.data\.br$">
    Header set Content-Encoding br
    Header set Content-Type application/octet-stream
  </FilesMatch>
  <FilesMatch "\.symbols\.json\.br$">
    Header set Content-Encoding br
    Header set Content-Type application/octet-stream
  </FilesMatch>
</IfModule>
